/* HEADER */

header {
  background-color: #EAE6CA;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.header-logo-image {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

header h1 {
  color: green;
  font-size: 1.5rem;
  font-weight: bold;
}

header button {
  font-size: 1rem;
  color: white;
  background-color: brown;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

header button:hover {
  background-color: green;
  transform: scale(1.05);
}

header button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-image {
  width: 180px;
  height: auto;
}

.logout-container {
  display: inline-block;
  cursor: pointer;
}

.logout-image {
  width: 40px;
  height: auto;
  transition: transform 0.3s ease;
}

.logout-container:hover .logout-image {
  transform: scale(1.1);
}

/* LOGIN */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7f6;
}

.login-form {
  background-color: #ffffffdf;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  color: #2c3e50;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 1rem;
  color: #34495e;
  display: block;
  margin-bottom: 0.5rem;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  position: relative; /* Para asegurar que el botón se posicione correctamente */
}

.form-group input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box; /* Para evitar que el padding cambie el tamaño */
}

.form-group input:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
  outline: none;
}

.login-btn {
  background-color: #17611a;
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
  background-color: #114212;
  transform: scale(1.05);
}

.signup-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #26822b;
}

.signup-link a {
  color: #1d551f;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* Asegura que el botón esté posicionado respecto a este contenedor */
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
  outline: none;
}

.button-see-password {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: absolute;
  right: 10px;  /* Ajusta esta posición según lo necesites */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.button-see-password img {
  width: 20px; 
  height: auto;
}



/* Contenedor principal del menú */
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

/* Estilo general del menú */
.container {
  width: 100%;
  margin: 0 auto;
}

/* Contenedor de los platillos */
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columnas */
  gap: 20px; /* Espaciado entre los items */
  padding: 20px;
}

/* Estilo general de los items del menú */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Título y descripción del platillo */
.menu-item h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.menu-item p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
  text-align: center;
}

/* Precio del platillo */
.menu-item .price {
  font-size: 16px;
  color: #91630f;
  font-weight: bold;
  margin-top: 10px;
}

/* Contenedor de los botones (alineados en una fila) */
.menu-item .button-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 10px;
}

/* Botón para añadir al carrito (verde) */
.menu-item .add-button {
  background-color: #2d8d36; /* Verde */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item .add-button:hover {
  background-color: #245f27; /* Verde más oscuro */
}

/* Botón para eliminar del carrito (rojo) */
.menu-item .remove-button {
  background-color: #e74c3c; /* Rojo */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item .remove-button:hover {
  background-color: #c0392b; /* Rojo más oscuro */
}